*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins","sans-serif";
}

.hero__section{
    background-image: url(images/heroSectionBackground.png);
    min-height: 60vh;
    background-size: cover;
    background-position: center;
    color: white;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    height: 60px;
}

.navbar__menu_container{
    display: flex;
    gap: 20px;
}


.navbar a{
    color: white;
    text-decoration: none;
}

.navbar__menu_container .user_icon{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}




.hero__section_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    height:calc(60vh-60px);
    margin: 70px 0px;
}

.hero__section_logo{
    height: auto;
    width: 200px;
}
.hero__section_title{
    text-align: center;
    font-size: 25px;
    font-weight: 300;
}

.hero__section_input_container{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px;
    gap: 10px;
    border-radius: 8px;
    height: 30px;
}

.input_container_location, .input_container_search{
    padding: 5px;
    border: none;
    outline: none;
}

.input_container_location{

    width: 40%;
    border-right:2px solid #e0e0e0;
}

.input_container_search{

    width: 60%;
}

.container{
    margin: 2rem auto;
    width: 90%;
}

.we__offer{
    display: flex;
    /* gap: 0.5rem; */
    gap: 11px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.we__offer_card:hover{
    transform: scale(1.05);
}



.we__offer_card{
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    transition: all 0.3s ease;

}

.we__offer_card img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: cover;
}


@media  only screen and (max-width:500px) {
    .navbar__menu_container .user_icon{
        display: flex;
    }
    .link{
        display: none;
    }
    .hero__section{
        min-height: 80px;
    }

    .navbar{
 
        padding: 16px;
    }

    .hero__section_title{

        font-size: 10px;
    }
}

.collection h1{
    font-weight: 500;
}

.collection .sub_heading_container{
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.sub_heading_container span:nth-child(2){
    color: red;
    font-size: 12px;
    cursor: pointer;
}

.collection_card_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.6rem;
}


.collection_card_container .card{
    height: 300px;
    min-width: 250px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.card1{
    background-image: url(images/collection1.jpg);
}

.card2{
    background-image: url(images/collection2.jpg);
}

.card3{
    background-image: url(images/collection3.jpg);
}

.card4{
    background-image: url(images/collection4.jpg);
}

.overlay{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.005) 87%);
}

.collection_card_container .card .content{
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px 16px;
    font-size: 15px;
}

.content h4{
    letter-spacing: 0.5px;
    font-weight: 400;
}

.get__the_app{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 251, 247);
    width: 100%;
    
}

.get__the_app .semicontainer{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.get__the_app .semicontainer .left{
    flex: 2;
}

.get__the_app .semicontainer .left img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.get__the_app .semicontainer .right{
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.get__the_app .semicontainer .right h1{
    font-weight: 400;
    font-size: 2rem;
}

.get__the_app .semicontainer .right p{
    font-size: 0.7rem;
}

.get__the_app .semicontainer .right .radio_button_container{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.get__the_app .semicontainer .right .radio_button_container div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.get__the_app .semicontainer .right .radio_button_container div input{
    height: 15px;
    width: 15px;
    accent-color: rgb(239, 79, 95);
}

.semicontainer .right .input_container{
    display: flex;
    gap: 0.5rem;
    align-items: center;

}

.semicontainer .right .input_container input , button{
   
    padding: 10px 12px;
}
.semicontainer .right .input_container input{
    flex: auto;
    border: 1.5px solid grey;
    border-radius: 5px;
    outline: none;
}

.semicontainer .right .input_container button{
    background-color:rgb(239, 79, 95) ;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

.semicontainer .right .download_app_container{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.semicontainer .right .download_app_container h5{
    font-weight: 400;
    color: grey;
}

.semicontainer .right .download_app_container div{
    display: flex;
    gap: 1rem;
}

.semicontainer .right .download_app_container img{
    width: 30%;
}

